/* Globals */
* {
    margin: 1px;
}

body {
    background-color: #111;
}

main {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Fonts */
@font-face {
    font-family: 'Shippori';
    src: url('../assets/fonts/ShipporiAntiqueB1-Regular.ttf');
} 
@font-face {
    font-family: 'Signika';
    src: url('../assets/fonts/Signika-VariableFont_wght.ttf');
} 

/* Header Generic */
header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

header .navbar {
    display: flex;
}

header .navbar-img {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
            animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
            transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

header .navbar-img img {
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

/* Section */
.align-image {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.align-image img {
    width: 474px;
    height: 506px;
}

.align-video {
    margin: 20px 0 20px 0;
}

.align-video iframe {
    width: 600px;
    height: 450px;
}

.text-section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.text-section h2 {
    font-family: 'Signika', sans-serif;
    color: rgb(255, 190, 84);
}

.text-section h3 {
    font-family: 'Shippori', sans-serif;
    color: gray;
    margin-top: 15px;
}

.text-form h3 {
    font-family: 'Shippori', sans-serif;
    color: #111;
    margin-top: 15px;
}

.text-section p {
    margin: 15px 0 15px 0;
    font-family: 'Shippori', sans-serif;
    color: #fff;
    width: 770px;
}

.text-section div .left {
    text-align: left;
}

.text-section div .right {
    text-align: right;
}

.cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

.align-card {
    margin: 20px 30px 20px 30px;
    border: 2px solid rgb(255, 190, 84);
    background-color: #fff;
    height: 396px;
    background: linear-gradient(90deg, rgba(219,237,255,1) 0%, rgba(205,232,255,1) 35%, rgba(101,176,255,1) 100%);
    transition: 300ms;
}

.align-card:hover {
    transform: scale(0.9);
}

.portfolio-section {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.align-portfolio {
    margin: 20px 40px 20px 40px;
}

.align-portfolio img {
    width: 354px;
    height: 670px;
}

.form-section {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.align-form {
    margin: 20px 40px 20px 40px;
}

.align-form form fieldset {
    display: flex;
    justify-content: center;
    width: 875px;
    background-color: #fff;
    border: 2px solid rgb(255, 190, 84);
}

.items-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.items-center div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items-center .text-form {
    display: flex;
    justify-content: center;
}

.items-center .align-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-inputs div input{
    height: 20px;
}

.align-card .subtitle {
    margin: 20px 0 20px 0;
}

.align-card .separator {
    margin: 30px 0 60px 0;
}

.align-card ul {
    padding: 0px;
}

.align-card ul li {
    list-style: none;
}

.button-section {
    display: flex;
    justify-content: center;
}

.button-section button {
    background-color: rgb(255, 190, 84);
    margin-bottom: 25px;
}

.button-section button a {
    text-decoration: none;
    color: #111;
}

.button-form {
    display: flex;
    justify-content: start;
}

.button-form button {
    background-color: rgb(255, 190, 84);
    margin-bottom: 25px;
}

.button-form button a {
    text-decoration: none;
    color: #111;
}

/* Footer Generic */
footer {
    margin-top: 20px;
}

ul.navbar-footer {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
    margin-bottom: 10px;
}

ul.navbar-footer li {
    list-style: none;
    height: 20px;
}

ul.navbar-footer li a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px solid white;
    display: flex;
    align-items: center;
    color: gray;
}

ul.navbar-footer li:hover a {
    color: rgb(255, 190, 84);
}

footer .text-footer {
    font-family: 'Shippori', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
}

/* Ipads y tablets */
@media (max-width: 1024px) {
    /* Header Generic */
    header {
        display: block;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .align-portfolio {
        margin: 20px 10px 20px 10px;
    }

    /* Section */
    .align-image img {
        width: 330px;
        height: auto;
    }

    .text-section h2 {
        font-size: 20px;
    }
    
    .text-section h3 {
        font-size: 18px;
    }

    .align-video iframe {
        width: 500px;
        height: 350px;
    }

    .cards-section {
        width: 665px;
    }

    .text-section p {
        margin: 15px 0 15px 0;
        font-size: 14px;
        width: 490px;
    }

    .align-portfolio img {
        width: 310px;
        height: 775px;
    }

    .align-form form fieldset {
        width: 650px;
        height: 500px;
    }

    .text-form h3 {
        font-size: 18px;
    }

    /* Footer Generic */
    ul.navbar-footer li a {
        font-size: 16px;
    }

    footer .text-footer {
        font-size: 14px;
    }
}
/* Big mobile */
@media (max-width: 768px) {
    /* Header Generic */
    header {
        display: block;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* Section */
    .align-image img {
        width: 279px;
        height: auto;
    }

    .text-section h2 {
        font-size: 18px;
    }
    
    .text-section h3 {
        font-size: 21px;
    }

    .align-video iframe {
        width: 350px;
        height: 250px;
    }

    .cards-section {
        grid-template-columns: 1fr;
        width: 519px;
    }

    .text-section p {
        margin: 15px 0 15px 0;
        font-size: 12px;
        width: 355px;
    }

    .align-portfolio {
        margin: 20px 10px 20px 10px;
        width: 90%;
    }
    .portfolio-section{
        flex-direction: column;
        align-items: center;
    }

    .align-portfolio img {
        width: 100%;
        height: 300px;
    }
    .align-form form fieldset {
        width: 392px;
        height: 522px;
    }

    .text-form h3 {
        font-size: 16px;
    }

    /* Footer Generic */
    ul.navbar-footer li a {
        font-size: 14px;
    }

    footer .text-footer {
        font-size: 12px;
    }
}

/* Small mobile */
@media (max-width: 480px) {
    /* Header Generic */
    header {
        display: block;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* Section */
    .align-image img {
        width: 250px;
        height: auto;
    }

    .text-section h2 {
        font-size: 18px;
    }
    
    .text-section h3 {
        font-size: 16px;
    }

    .align-video iframe {
        width: 300px;
        height: 150px;
    }

    .cards-section {
        width: 360px;
    }

    .text-section p {
        margin: 15px 0 15px 0;
        font-size: 12px;
        width: 298px;
    }

    .portfolio-section {
        flex-direction: column;
        align-items: center;
    }
    
    .align-portfolio {
        margin: 20px 10px 20px 10px;
        width: 90%;
    }

    .align-portfolio img {
        width: 100%;
        height: 200px;
    }

    .align-form form fieldset {
        width: 280px;
        height: 522px;
    }

    .text-form h3 {
        font-size: 14px;
    }

    /* Footer Generic */
    ul.navbar-footer li a {
        font-size: 12px;
    }

    footer .text-footer {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    body {
        display: none;
    }
}
