/* Footer */
footer {
    @include margin($top: 20px);

    .navbar-footer {
        @include margin($bottom: 10px);
        display: flex;
        align-items: center;
        padding: 0px;
        justify-content: center;

        li {
            @include size($height: 20px);
            list-style: none;

            a {
                @include padding($right: 10px, $left: 10px);
                text-decoration: none;
                border-right: 2px solid $white;
                display: flex;
                align-items: center;
                color: $gray;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .text-footer {
        font-family: 'Shippori', sans-serif;
        color: $white;
        display: flex;
        justify-content: center;
    }
}
