/* Section */
main {
    section {
        .align-image {
            @include margin($top: 20px, $right: 0px, $bottom: 20px, $left: 0px);
            display: flex;
            justify-content: center;
        
            img {
                @include size($width: 474px, $height: 506px);
            }
        }
        
        .text-section {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            align-items: center;

            h2 {
                font-family: 'Signika', sans-serif;
                color: $yellow;
                font-size: $gamma;
            }

            h3 {
                @include margin($top: 15px);
                font-family: 'Shippori', sans-serif;
                color: $gray;
                font-size: $beta;
            }

            hr {
                @include size($width: 770px, $height: 0);
                box-sizing: content-box;
                overflow: visible;
                border: 1px solid $gray;
            }

            p {
                @include size($width: 596px);
                @include margin($top: 15px, $right: 0px, $bottom: 15px, $left: 0px);
                font-family: 'Shippori', sans-serif;
                color: $white;
                font-size: $alpha;
            }

            div {
                .left-h3 {
                    text-align: left;

                    /* Extend */
                    @extend h2;
                }

                .left-p {
                    text-align: left;
                }
            }

            .align-video {
                @include margin($top: 20px, $right: 0px, $bottom: 20px, $left: 0px);
    
                iframe {
                    @include size($width: 600px, $height: 450px);
                }
            }
        }

        .button-section {
            display: flex;
            justify-content: center;

            button {
                @include margin($bottom: 25px);
                @include size($width: 77px);
                background-color: $yellow;

                a {
                    text-decoration: none;
                    color: $black;
                    font-size: $alpha;
                    font-weight: 500;
                }

                &:hover {
                    background: $gray;
                }
            }
        }

        .cards-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            margin: 0 auto;

            .align-card {
                @include margin($top: 20px, $right: 30px, $bottom: 20px, $left: 30px);
                transition: 300ms;

                &:hover {
                    transform: scale(0.9);
                }

                .card {
                    @include size($width: 270px);
                    border-radius: 10px;

                    img {
                        @include size($height: 170px);
                        border-radius: 10px;
                    }
                }
            }
        }

        .portfolio-section {
            @include margin($top: 30px, $right: 0px, $bottom: 30px, $left: 0px);
            display: flex;
            justify-content: center;

            .align-portfolio {
                @include margin($top: 20px, $right: 40px, $bottom: 20px, $left: 40px);

                img {
                    @include size($width: 340px, $height: 670px);
                    border-radius: 10px;
                }
            }
        }
        
        .form-section {
            @include margin($top: 30px, $right: 0px, $bottom: 30px, $left: 0px);
            display: flex;
            justify-content: center;

            .align-form {
                @include margin($top: 20px, $right: 40px, $bottom: 20px, $left: 40px);

                form {
                    fieldset {
                        @include size($width: 875px);
                        display: flex;
                        justify-content: center;
                        background-color: $white;
                        border: 2px solid $yellow;
                        border-radius: 10px;

                        .items-center {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;

                            div {
                                @include size($width: 100%);
                                display: flex;
                                flex-direction: column;
                            }

                            .text-form {
                                display: flex;
                                justify-content: center;

                                h3 {
                                    @include margin($top: 15px);
                                    font-family: 'Shippori', sans-serif;
                                    color: $black;
                                }
                            }

                            .align-inputs {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                div {
                                    input {
                                        @include size($height: 20px);
                                        padding: 10px;
                                    }
                                }

                                .button-form {
                                    display: flex;
                                    justify-content: start;
                        
                                    button {
                                        background-color: $yellow;
                                        margin-bottom: 25px;
                        
                                        a {
                                            text-decoration: none;
                                            color: $black;
                                            font-size: $alpha;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
