/* Ipads y tablets */
@media (max-width: 1024px) {
    /* Header */
    header {
        display: block;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* Section */
    main {
        section {
            .align-image {
                img {
                    width: 330px;
                    height: auto;
                }
            }
        
            .text-section {
                h2 {
                    font-size: 24px;
                }
        
                h3 {
                    font-size: 20px;
                }

                hr {
                    width: 490px;
                }
        
                p {
                    margin: 15px 0 15px 0;
                    font-size: 14px;
                    width: 490px;
                }

                .align-video {
                    iframe {
                        width: 500px;
                        height: 350px;
                    }
                }
            }

            .button-section {
                button {
                    width: 67px;

                    a {
                        font-size: 14px;
                    }
                }
            }
        
            .align-portfolio {
                margin: 20px 10px 20px 10px;
        
                img {
                    width: 310px;
                    height: 775px;
                }
            }
        
            .align-form {
                form {
                    fieldset {
                        width: 650px !important;
    
                        .items-center {
                            .text-form {
                                h3 {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* Footer */
    footer {
        .navbar-footer {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    
        .text-footer {
            font-size: 14px;
        }
    }
}

/* Big mobile */
@media (max-width: 768px) {
    /* Header */
    header {
        display: block;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* Section */
    main {
        section {
            .align-image {
                img {
                    width: 279px;
                    height: auto;
                }
            }
        
            .text-section {
                h2 {
                    font-size: 22px;
                }
        
                h3 {
                    font-size: 18px;
                }

                hr {
                    width: 355px;
                }
        
                p {
                    margin: 15px 0 15px 0;
                    font-size: 12px;
                    width: 344px;
                }

                .align-video {
                    iframe {
                        width: 350px;
                        height: 250px;
                    }
                }
            }

            .button-section {
                button {
                    width: 60px;

                    a {
                        font-size: 12px;
                    }
                }
            }

            .cards-section {
                .align-card {
                    margin: 10px 15px 10px 15px;
    
                    .card {
                        width: 212px;
    
                        img {
                            height: 114px;
                        }
                    }
                }
            }
        
            .portfolio-section {
                flex-direction: column;
                align-items: center;
        
                .align-portfolio {
                    margin: 20px 10px 20px 10px;
                    width: 90%;
            
                    img {
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        
            .align-form {
                form {
                    fieldset {
                        width: 450px !important;
        
                        .items-center {
                            .text-form {
                                h3 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Footer */
    footer {
        .navbar-footer {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    
        .text-footer {
            font-size: 12px;
        }
    }
}

/* Small mobile */
@media (max-width: 480px) {
    /* Header */
    header {
        display: block;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* Section */
    main {
        section {
            .align-image {
                img {
                    width: 250px;
                    height: auto;
                }
            }
        
            .text-section {
                h2 {
                    font-size: 20px;
                }
        
                h3 {
                    font-size: 16px;
                }

                hr {
                    width: 298px;
                }
        
                p {
                    margin: 15px 0 15px 0;
                    font-size: 12px;
                    width: 290px;
                }

                .align-video {
                    iframe {
                        width: 300px;
                        height: 150px;
                    }
                }
            }

            .button-section {
                button {
                    width: 60px;

                    a {
                        font-size: 12px;
                    }
                }
            }

            .cards-section {    
                display: flex;
                flex-direction: column;
                
                .align-card {
                    .card {
                        width: 212px;
    
                        img {
                            height: 114px;
                        }
                    }
                }
            }
        
            .portfolio-section {
                flex-direction: column;
                align-items: center;
        
                .align-portfolio {
                    margin: 20px 10px 20px 10px;
                    width: 90%;
                }
        
                img {
                    width: 100%;
                    height: 200px;
                }
            }
        
            .align-form {
                form {
                    fieldset {
                        width: 280px !important;
                        padding: 10px;
        
                        .items-center {
                            .text-form {
                                h3 {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Footer */
    footer {
        .navbar-footer {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    
        .text-footer {
            font-size: 10px;
        }
    }
}

/* No resolutions */
@media (max-width: 320px) {
    body {
        display: none;
    }
}
